*{
    margin: 0px;
    padding: 0px;
    
}
nav{
    background-color: black;
    color: white;
}
li{
    display: inline;
}
ul,h1{
  
    text-align: center;
    padding: 10px;

}
li{
    color: grey;
    cursor: pointer;
}

li:hover{
    color: white;
}
.box{
    border-color: black;
    border-width: 4px;
    border-style: solid;
    display: inline-block;
    width: 340px;
    text-align: center;
    background-color: antiquewhite;
    margin: 1px;
    text-align: center;
    margin-right: 1px;

}
.box img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    
    
}
h3{
    background-color: black;
    color: white;
    text-align: center;
}
.container{
    justify-content: center;
    display: flex;
    gap: 10px;

}
.box:hover{
    background-color: pink;
    color:black;
    
}
.contact{
    text-align: center;
    margin-top: 20px;

}
.table table{
    margin: auto;

}
.table td{
    padding: 8px;

}
input{
    padding: 6px;
    text-align: center;
}
.table{
    background-color: black;
    color: white;
}





